@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Permanent+Marker&display=swap');

body {
  background-color: darkseagreen;
}

.container {
  border-radius: 4rem;
  background-color: azure;
  width: 75%;
  margin: 1rem auto;
  padding: 1rem auto;
  /* border-style: solid;
  border-color: black; */
}

.intro-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  border-style: dashed;
  border-color: black;
}

.intro-text {
  border-style: double;
  border-color: red;
}

.bio-text {
  display:inline-block;
  border-style: double;
  border-color: black;
}

.text-center {
  padding: 0 1rem 0 1rem;
}

.img-circle {
  border-radius:50%;
  box-shadow: 0.5rem 0.5rem 1rem black;
  text-align: left;
}

.information-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: magenta;
}

a:hover{
  color: red;
  /* font-size: large; */
  font-weight: bold;
}

p {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: monospace;
  text-align: justify;
}

h1 {
  /* display: inline-block;
  text-align: left; */
  font-family: 'Cinzel', serif;
}

h2 {
  text-decoration: underline;
  text-align: justify;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}


.bio-text {
  padding-left: 10px;
  margin-left: 10px;
}

.card-coding, .card-gaming {
  padding-left: 20px;
  margin-left: 20px;
}

@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
